$color-white-1: #ffffff;
$color-white-2: #f5f5f5;

$color-gray-1: #bbbbbb;
$color-gray-2: #aaaaaa;

$color-black-1: #000000;
$color-black-2: #333333;

$color-bg-loading: #005ba3;

$color-btn-border: #a3009e;
$color-btn-bg: #bd00b6;
$color-btn-spinning-border: #a37700;
$color-btn-spinning-bg: #bd9a00;

$color-bg-1: #5b31ea;
$color-bg-2: #68cffa;

$color-bg-person-1: #ff458a;
$color-bg-person-2: #a3009e;

$color-shadow-1: rgba(0,0,0,0.25);
$color-shadow-2: rgba(0,0,0,0.15);
$color-shadow-3: rgba(255,255,255,0.15);